## Question 2

### Sub-question 1:

In [1]:
import numpy as np
import pandas as pd
import warnings
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
warnings.filterwarnings('ignore')
import torch
from torch import nn

In [2]:
df = pd.read_csv('C:/Users/subnarasimhan/Downloads/WA_Fn-UseCTelco-Customer-Churn.csv')

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [6]:
df.shape

(7043, 21)

In [7]:
#replacing the empty values with NaN
df.replace('',np.nan,inplace=True)

In [8]:
#checking the null values if any
print(df.isnull().sum())

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

### Sub-question 3

In [9]:
#calling out the categorical and numerical variables
categorical_variables = ["customerID","gender", "SeniorCitizen", "Partner", "Dependents", 
                         "PhoneService", "MultipleLines", "InternetService", 
                         "OnlineSecurity", "OnlineBackup", "DeviceProtection", 
                         "TechSupport", "StreamingTV", "StreamingMovies", "Contract", 
                         "PaperlessBilling", "PaymentMethod", "Churn"]
numerical_variables = ["tenure", "MonthlyCharges", "TotalCharges"]

In [10]:
#encoding the categorical variables
le = LabelEncoder()
df[categorical_variables] = df[categorical_variables].apply(le.fit_transform)

In [11]:
df[numerical_variables].fillna(df[numerical_variables].mean(), inplace=True)

In [12]:
df[numerical_variables].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tenure          7043 non-null   int64
 1   MonthlyCharges  7043 non-null   float64
 2   TotalCharges    7043 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 165.2+ KB

In [13]:
print(df[numerical_variables].isnull().sum())

tenure            0
MonthlyCharges    0
TotalCharges      0
dtype: int64

In [14]:
df[numerical_variables].replace(" ", 0, inplace=True)

In [15]:
df["TotalCharges"].replace(" ", 0, inplace=True)

In [16]:
#standardising the scales
scaler = StandardScaler()
df[numerical_variables] = scaler.fit_transform(df[numerical_variables])

### Sub-question 4 and 5

In [17]:
#seperating feature and target varible
X = df.drop("Churn", axis=1)
y = df["Churn"]

In [18]:
#splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X ,y, test_size=0.2)

In [19]:
#converting data into tensors
X_train = torch.Tensor(X_train.values)
X_test = torch.Tensor(X_test.values)
y_train = torch.Tensor(y_train.values).unsqueeze(1)
y_test = torch.Tensor(y_test.values).unsqueeze(1)

In [20]:
#Defining the neural network
class ChurnPrediction(nn.Module):
    def __init__(self, input_dim, hidden_dim, output_dim):
        super(ChurnPrediction, self).__init__()
        self.fc1 = nn.Linear(input_dim, hidden_dim)
        self.relu = nn.ReLU()
        self.fc2 = nn.Linear(hidden_dim, output_dim)
        self.sigmoid = nn.Sigmoid()
        
    def forward(self, x):
        x = self.relu(self.fc1(x))
        x = self.sigmoid(self.fc2(x))
        return x

In [21]:
#Defining the model, loss function and optimizer
model_one = ChurnPrediction(X_train.shape[1],10,1)
loss_fn = nn.BCELoss()
optimizer = torch.optim.Adam(model_one.parameters())

In [22]:
#Training the loop
for epoch in range(100):
    #Forward pass
    y_pred = model_one(X_train)
    loss = loss_fn(y_pred, y_train)
    
    #Backward pass
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    
    if epoch % 10 == 0:
        print(f"Epoch : {epoch+1}, Loss: {loss.item():.4f}")

Epoch : 1, Loss: 68.2539
Epoch : 11, Loss: 62.1517
Epoch : 21, Loss: 1.5570
Epoch : 31, Loss: 0.6949
Epoch : 41, Loss: 0.8334
Epoch : 51, Loss: 0.6078
Epoch : 61, Loss: 0.5710
Epoch : 71, Loss: 0.5500
Epoch : 81, Loss: 0.5264
Epoch : 91, Loss: 0.5251

In [23]:
#Evaluating the model
y_pred = model_one(X_test)
y_pred

tensor([[0.2746],
        [0.3875],
        [0.2645],
        ...,
        [0.4144],
        [0.3496],
        [0.4372]], grad_fn=<SigmoidBackward0>)

### Sub-question 6: Evaluating the model using the testing set and report the accuracy, precision, recall, and F1 score.

In [24]:
print(type(y_test))
print(type(y_pred))

<class 'torch.Tensor'>
<class 'torch.Tensor'>

In [25]:
y_pred_labels = torch.argmax(y_pred, dim=1)

In [26]:
accuracy = accuracy_score(y_test,  y_pred_labels.detach().numpy())
precision = precision_score(y_test, y_pred_labels, average='weighted')
recall = recall_score(y_test, y_pred_labels, average='weighted')
f1 = f1_score(y_test, y_pred_labels, average='weighted')
print(f"Accuracy:", accuracy)
print(f"Precision:", precision)
print(f"Recall:", recall)
print(f"F1 Score:", f1)

Accuracy: 0.7331440738112136
Precision: 0.5375002329645022
Recall: 0.7331440738112136
F1 Score: 0.6202603015945812

### Sub-question 7: Modelling with different hyperparameters to increase the performance of the model

In [27]:
class ChurnPrediction(nn.Module):
    def __init__(self, input_dim, hidden_dim1, hidden_dim2, output_dim):
        super(ChurnPrediction, self).__init__()
        self.fc1 = nn.Linear(input_dim, hidden_dim1)
        self.fc2 = nn.Linear(hidden_dim1, hidden_dim2)
        self.fc3 = nn.Linear(hidden_dim2, output_dim)
        self.relu = nn.ReLU()
        self.sigmoid = nn.Sigmoid()
        
    def forward(self, x):
        x = self.relu(self.fc1(x))
        x = self.relu(self.fc2(x))
        x = self.sigmoid(self.fc3(x))
        return x

In [28]:
#Defining the model, loss function and optimizer
model_two = ChurnPrediction(X_train.shape[1], 32, 16, 1)
loss_fn = nn.BCELoss()
optimizer = torch.optim.Adam(model_two.parameters())

In [29]:
#Training the loop
for epoch in range(100):
    #Forward pass
    y_pred = model_two(X_train)
    loss = loss_fn(y_pred, y_train)
    
    #Backward pass
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    
    if epoch % 10 == 0:
        print(f"Epoch : {epoch+1}, Loss: {loss.item():.4f}")

Epoch : 1, Loss: 5.5737
Epoch : 11, Loss: 1.0741
Epoch : 21, Loss: 0.8861
Epoch : 31, Loss: 0.5660
Epoch : 41, Loss: 0.5614
Epoch : 51, Loss: 0.5532
Epoch : 61, Loss: 0.5464
Epoch : 71, Loss: 0.5372
Epoch : 81, Loss: 0.5287
Epoch : 91, Loss: 0.5229

In [30]:
#Evaluating the model
y_pred = model_two(X_test)
y_pred

tensor([[0.2655],
        [0.3103],
        [0.2232],
        ...,
        [0.3683],
        [0.3731],
        [0.3706]], grad_fn=<SigmoidBackward0>)

In [31]:
y_pred_labels = torch.argmax(y_pred, dim=1)

In [32]:
accuracy = accuracy_score(y_test,  y_pred_labels.detach().numpy())
precision = precision_score(y_test, y_pred_labels, average='weighted')
recall = recall_score(y_test, y_pred_labels, average='weighted')
f1 = f1_score(y_test, y_pred_labels, average='weighted')
print(f"Accuracy:", accuracy)
print(f"Precision:", precision)
print(f"Recall:", recall)
print(f"F1 Score:", f1)

Accuracy: 0.7331440738112136
Precision: 0.5375002329645022
Recall: 0.7331440738112136
F1 Score: 0.6202603015945812